# All the crap cmake generates:
Testing
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
CMakeLists.txt.user
CMakeCache.txt

# Build files:
Debug
Release
build*
*.a
*.o
dphpc

# ENV files
.envrc

# IDE files:
*.swp
.idea
.vscode

# Visual Studio files:
*.vcxproj
*.filters
*.dir
*.sln
*.opensdf
*.sdf
*.suo

# Mercurial:
.hg

# For OSX users:
.DS_Store

# CLang
.cache

# Project specific
spgemm
runs

# Python scripts .venv
.venv

# Euler
euler_nodes.txt
_old/**
core.*

# Python
__pycache__

# Matrices fetched via script
matrices/cont-300
matrices/gr_30_30
matrices/stranke94
matrices/cell1
matrices/jan99jac060sc
matrices/viscoplastic2
matrices/c-big
matrices/largebasis
matrices/HV15R
matrices/af_shell10
matrices/boneS01

# Measurements logs
measurements*