#!/bin/bash
#SBATCH -J mmN{{ n_machines }}
#SBATCH --time=03:00:00
#SBATCH --constraint=mc
#SBATCH -o {{ log_out }}
#SBATCH -e {{ err_out }}
#SBATCH --switches={{ switches }}
#SBATCH -N {{ n_machines }}
#SBATCH -n {{ mpi_processes }}
#SBATCH --cpus-per-task={{ processes_per_mpi }}
#SBATCH --mem=0
#SBATCH -A g34
{% if last_job %}
#SBATCH --dependency=afterany:{{ last_job }}
{% endif %}

impls={{ impls }}
matrices={{ matrices }}

export OMP_NUM_THREADS={{ processes_per_mpi }}
for impl in ${impls}
do
	for mtx in ${matrices}
	do
		echo start ${impl} with matrix ${mtx} on {{ mpi_processes }} at $(date)
    		mkdir {{ runs_dir }}/{{ n_machines }}_{{ mpi_processes }}_${impl}_${mtx}
		srun {{ cmd }} ${impl} ${mtx} {{ runs_dir }}/{{ n_machines }}_{{ mpi_processes }}_${impl}_${mtx} {{ n_runs }} {{ n_warmup }} {{ shuffling }} {{ partitioning }} {{ parallel_load_str }} {{ persist_str }} {{ matrix_path }}
		echo finished ${impl} with matrix ${mtx} on {{ mpi_processes }} at $(date)
	done
done
